<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit" />
  <meta name="robots" content="index, follow" />
  <title>关于我们 > 公司简介_我的网站</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  {include file="common/head"}

</head>
<body>
<div id="page-body-wrap">
  {include file="common/nav"}

  <div class="page-title-style01 page-title-negative-top pt-bkg01 inner-header" style="background-image:url(images/about.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>关于我们</h1>
          <div class="breadcrumb-container inner-location">
            <i class="fa fa-map-marker"></i> &nbsp;<span>当前位置：
              <a href='http://www.861ppt.com/72'>主页</a> >
              <a href='/72/a/gongsijianjie/'>关于我们</a> >
              <a href='/72/a/gongsijianjie/'>公司简介</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container" id="innerpage-wrap">
    <div class="container">
      <div class="row">
        <div class="main col-md-9 inner-left" role="main">
          <div class="about-page-wrap">
            <div class="com-cnt page-content">
              内容
              <div id="pages" class="page"></div>
            </div>
          </div>
        </div>

        {include file="common/right_nav"}
      </div>
    </div>
  </div>
  <div class="for-bottom-padding"></div>
  {include file="common/footer"}
</div>
<script src="js/jquery.srcipts.min.js"></script>
<script src="js/masterslider.min.js"></script>
<script src="js/jquery.matchheight-min.js"></script>
<script src="js/jquery.dlmenu.min.js"></script>
<script src="js/include.js"></script>
</body><script text="text/javascript" src="js/replace-url.js"></script>
</html>
