<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit" />
  <meta name="robots" content="index, follow" />
  <title>新闻资讯_我的网站</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  {include file="common/head"}
</head>
<body>
  <div id="page-body-wrap">
    {include file="common/nav"}
    <div class="page-title-style01 page-title-negative-top pt-bkg01 inner-header" style="background-image:url(images/news.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>新闻资讯</h1>
            <div class="breadcrumb-container inner-location"> <i class="fa fa-map-marker"></i> &nbsp;<span>当前位置： <a href='http://www.861ppt.com/72'>主页</a> > <a href='/72/a/news/'>新闻资讯</a> > </span> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-container" id="innerpage-wrap">
      <div class="container">
        <div class="row">
          <div class="main col-md-9 inner-left" role="main">
            <article class="blog-wrap">

              <div class="blog-article hentry format-image">
                <figure> <a class="swipebox-x" href="/72/a/news/gongsixinwen/21.html"> <img class="img-responsive" alt="我国电商物流包裹量将达1000亿 到哪去找送货大军" src="picture/1-1p421113g5u3.jpg"/> </a> </figure>
                <div class="entry-summary post-summary">
                  <header class="entry-header">
                    <h2 class="entry-title post-title"> <a href="/72/a/news/gongsixinwen/21.html" title="我国电商物流包裹量将达1000亿 到哪去找送货大军">我国电商物流包裹量将达1000亿 到哪去找送货大军</a> </h2>
                  </header>
                  <div class="entry-meta post-meta">
                    <ul>
                      <li class="entry-date date">
                        <time class="entry-date" datetime="2018-05-16">2018-05-16</time>
                      </li>
                      <li class="tags"><a href="/72/a/news/gongsixinwen/">公司新闻</a></li>
                      <li class="byline author vcard">by <a href="javascript:void(0)" class="fn">admin</a> </li>
                    </ul>
                  </div>
                  <div class="entry-content">
                    <p>每天上网买买买，中国已经成为全球第一网购和快递大国。你知道为了让你能收到包裹，全国有多少人在忙活吗？近日发布的《全国社会化电商物流从业人员研究报告》显示，2015年全国...</p>
                  </div>
                  <a href="/72/a/news/gongsixinwen/21.html" class="read-more-link">查看详细</a> </div>
              </div>

            </article>

            <div class="pagination-wrap">
              <div id="pages">
                <div class="page"><a>首页</a>
                  <span class="thisclass">1</span>
                  <a href='list_16_2.html'>2</a>
                  <a href='list_16_2.html'>下一页</a>
                  <a href='list_16_2.html'>末页</a>
                </div>
              </div>
            </div>
          </div>

          {include file="common/right_nav"}

        </div>
      </div>
    </div>

      <div class="for-bottom-padding"></div>
      {include file="common/footer"}
  </div>
</body>
</html>
