<div id="footer-wrapper" class="footer-dark">
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 footer-widget-container clearfix foot-about">
          <div class="widget widget_newsletterwidget">
            <div class="title"> <h3 class="dark-title"><a href="http://www.861ppt.com/72/a/gongsijianjie/">关于我们</a></h3> </div>
            <div class="f-about">
              <p> 广州市顺丰物流有限公司具有独立法人资格的运输企业担等货运仓储</p>
            </div>
          </div>
          <ul class="footer-social-icons">
            <li><a href="" target="_blank"><i class="fa fa-weibo"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-tencent-weibo"></i></a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=&amp;site=qq&amp;menu=yes" target="_blank"><i class="fa fa-qq"></i></a></li>
            <li><a href="mailto:" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        <ul class="col-md-3 col-sm-6 hidden-sm hidden-xs footer-widget-container foot-nav">
          <li class="widget widget_pages">
            <div class="title">
              <h3>快速链接</h3>
            </div>
            <ul>
              <li><a href="http://www.861ppt.com/72/"><i class="fa fa-angle-right"></i> &nbsp;网站首页</a></li>
              <li><a href="http://www.861ppt.com/72/a/news/"><i class="fa fa-angle-right"></i> &nbsp;新闻资讯</a></li>
              <li><a href="http://www.861ppt.com/72/a/kehufuwu/"><i class="fa fa-angle-right"></i> &nbsp;客户服务</a></li>
              <li><a href="http://www.861ppt.com/72/a/lianxiwomen/"><i class="fa fa-angle-right"></i> &nbsp;联系我们</a></li>
            </ul>
          </li>
        </ul>
        <ul class="col-md-3 col-sm-6 hidden-sm hidden-xs footer-widget-container foot-contact">
          <li class="widget widget-text">
            <div class="title"> <h3 class="dark-title"><a href="http://www.861ppt.com/72/a/lianxiwomen/">联系我们</a></h3> </div>
            <div class="f-contact">
              <p> <i class="fa fa-map-marker"></i> &nbsp;地址：</p>
              <p class="text-big-x"> <i class="fa fa-phone"></i> &nbsp;电话：</p>
              <p> <i class="fa fa-envelope"></i> &nbsp;邮箱：<a href="mailto:"></a> </p>
              <p> <i class="fa fa-globe"></i> &nbsp;手机：</p>
              <p> <i class="fa fa-home"></i> &nbsp;网址：http://www.seanpan.top</p>
            </div>
          </li>
        </ul>
        <ul class="col-md-3 col-sm-6 hidden-sm hidden-xs footer-widget-container foot-qrcode">
          <li class="widget widget-text">
            <div class="title">
              <h3>扫描二维码</h3>
            </div>
            <div class="f-qrcode"> <img src="__INDEX__/picture/qrcode.png"/> </div>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="copyright-container">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12 cr-left" style="width:100%;text-align:center;">
          <p> Copyright &copy; 2018 DEDECMS. 0.0 版权所有 </p>
        </div>
      </div>
    </div>
  </div>
</div>
