<div class="header-wrapper header-transparent">
  <header id="header"  class="header-style01">
    <div class="container">
      <div class="main-nav">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-default nav-left" role="navigation">
              <div class="navbar-header">
                <div class="logo"><a href=""><img src="__INDEX__/picture/logo.png" alt="我的网站"/></a></div>
              </div>
              <div class="collapse navbar-collapse" id="navigation">
                <!-- pc端导航 -->
                <ul class="nav navbar-nav">
                  <li  class='Lev1 current-menu-item' > <a class="menu1" href="/">网站首页</a></li>
                  <li class="Lev1 dropdown "> <a href="" class="menu1 dropdown-toggle">关于我们
                    <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu sub-menu2" role="menu">
                      <li class="Lev2"> <a href="/" class="menu2">公司简介</a> </li>
                      <li class="Lev2"> <a href="" class="menu2">品牌起源</a> </li>
                      <li class="Lev2"> <a href="/" class="menu2">公司相册</a> </li>
                    </ul>
                  </li>
                </ul>
                <!-- 移动端导航 -->
                <div id="dl-menu" class="dl-menuwrapper">
                  <button class="dl-trigger"><span class="dlt-text">网站导航</span></button>
                  <ul class="dl-menu">
                    <li class="Lev1"><a href="htt" class="menu1">网站首页</a></li>
                    <li class="Lev1"> <a href="" class="menu1">关于我们
                      <i class="fa fa-caret-down"></i> </a>
                      <ul class="dl-submenu sub-menu2">
                        <li class="Lev2"> <a href="" class="menu2">公司简介</a> </li>
                        <li class="Lev2"> <a href="" class="menu2">品牌起源</a> </li>
                        <li class="Lev2"> <a href="" class="menu2">公司相册</a> </li>
                      </ul>
                    </li>
                  </ul>
                </div>

                <div id="search">
                  <form  name="formsearch" action="http://www.861ppt.com/72/plus/search.php">
                    <input type="hidden" name="kwtype" value="0" />
                    <input class="search-submit" type="submit"/>
                    <input id="m_search" name="q" type="text" placeholder="输入关键字..." />
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
