<aside class="sidebar col-md-3 inner-right" role="complementary">
  <section class="widget side-search">
    <h3 class="title">站内搜索</h3>
    <form  class="searchform" id="searchform" name="formsearch" action="/72/plus/search.php">
      <input type="hidden" name="kwtype" value="0" />
      <div class="sform-div">
        <input type="text" value="" name="q" placeholder="输入关键字" id="s"/>
        <input type="submit" id="searchsubmit" value=""/>
      </div>
    </form>
  </section>
  <section class="widget widget-category side-contact">
    <h3 class="title">联系信息</h3>
    <div class="s-contact"> 地址：<br />
      电话：<br />
      手机：<br />
      传真：<br />
      邮箱： </div>
  </section>
  <section class="widget side-news">
    <h3 class="title">热点新闻</h3>
    <div class="tabbed custom-tabbed">
      <div class="block current">
        <ul class="widget-list">
          <li>
            <figure><a href="/72/a/news/gongsixinwen/22.html"><img src="picture/1-1p421113544307.jpg" /></a></figure>
            <div class="sn-wrapper">
              <p class="s-desc"><a href="/72/a/news/gongsixinwen/22.html" title="全国社会化电商物流从业人员研究报告">全国社会化电商物流从业人员研究报告</a></p>
              <span class="comments"><i class="fa fa-calendar"></i> &nbsp;2018-05-16</span> </div>
          </li>
          <li>
            <figure><a href="/72/a/news/changjianwenti/20.html"><img src="picture/1-1p42111364a20.jpg" /></a></figure>
            <div class="sn-wrapper">
              <p class="s-desc"><a href="/72/a/news/changjianwenti/20.html" title="快递小哥月入过万是“传说” 大部分都在">快递小哥月入过万是“传说” 大部分都在</a></p>
              <span class="comments"><i class="fa fa-calendar"></i> &nbsp;2018-05-16</span> </div>
          </li>
          <li>
            <figure><a href="/72/a/news/gongsixinwen/21.html"><img src="picture/1-1p421113g5u3.jpg" /></a></figure>
            <div class="sn-wrapper">
              <p class="s-desc"><a href="/72/a/news/gongsixinwen/21.html" title="我国电商物流包裹量将达1000亿 到哪去找">我国电商物流包裹量将达1000亿 到哪去找</a></p>
              <span class="comments"><i class="fa fa-calendar"></i> &nbsp;2018-05-16</span> </div>
          </li>

        </ul>
      </div>
    </div>
  </section>
</aside>
